# Node modules
node_modules/

# Playwright reports
/playwright-report/
/My-Report/
/blob-report/
/test-results/

# Playwright cache & auth
/playwright/.cache/
/playwright/.auth/

# Allure reports
/allure-results/
/allure-report/

# Generated archives
*.zip